<html>
   <head>
      <title>Better Reddit Search</title>
   </head>
   <body>
      <div style="width:50%; margin:0px auto; text-align:center">
         <img src='static/reddit.jpg' width=200 />
         <h1>Better Reddit Search</h1>
         <form name='search' action='/s' method='get'>
            <input type="text" name="q" />
            <input type="submit" value="Search"/>
         </form>
         <div>
            BRS has indexed the 200 most recent posts on the r/Technology subreddit. Please keey this in mind when you do your searches, as anything not technology related will likely yield no results.
         </div>
         <div>
            Also, these queries are relatively slow, and can take up to 15 seconds to display. Please be patient! Fast != Cheap
         </div>
      </div>
   </body>
</html>
